flask==3.0.2
python-dotenv==1.0.1
langchain>=0.2.15
langchain-core>=0.3.63
langchain-community>=0.3.24
langchain-pinecone>=0.2.4
langchain-groq>=0.3.2
pinecone>=5.1.0
sentence-transformers==2.5.1 
gunicorn
